.add-to-cart {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.with-text {
  color: white;
  width: max-content;
  border-radius: 28.5px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 14px;
}

.counter {
  display: flex;
  gap: 10px;
  background-color: var(--primary-color);
  width: max-content;
  height: max-content;
  color: white;
  border-radius: 18px;
  align-items: center;
}

.counter-button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 8px;
  filter: brightness(10);
}
